[user]
	name = Cowboylaserkittenjetshark
	email = 82691052+Cowboylaserkittenjetshark@users.noreply.github.com
[core]

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
