* {
  all: unset;
}

$background: #1e2030;
$foreground: #EBDBB2;
$sep: #DDB6F2;
$white: #cad3f5;
$black: #161320;
$red: #ed8796;
$pink: #f5bde6;
$purple: #c6a0f6;
$blue: #8aadf4;
$cyan: #7dc4e4;
$teal: #8bd5ca;
$green: #ABE9B3;
$lime: #C9CBFF;
$yellow: #eed49f;
$amber: #F8BD96;
$orange: #f5a97f;
$brown: #AC8476;
$indigo: #6C77BB;
$gray: #9E9E9E;
$blue-gray: #6D8895;

scale trough {
  all: unset;
  background-color: $red;
  border-radius: 50px;
  min-height: 10px;
  min-width: 100px;
  margin: 0 20px 0 20px;
}
scale trough highlight {
  all: unset;
  background-color: $teal;
  border-radius: 10px;
}

window {
  background: $background;
  color: $foreground;
  font-family: "Sarasa Mono CL Nerd Font";
  font-size: 14px;

  & > * {
    margin: 3px;
  }
}

.workspaces {
  button {
    background: none;
    margin: 3px;
    padding-left: 1px;
    &.occupied {
      color:  $pink;
      font-size: 1.01rem;
    }
    &.empty {
      color: $foreground;
      font-size: 0.8rem;
    }
    /*&.inactive {
      color: #888974;
    }*/
    &.active {
      font-size: 1.01rem;
      color: $purple;
    }
  }
}
// System resource widgets
.memory {
  color: $blue;
}

.cpu {
  color:  $yellow;
}

.disk {
  color: $orange;
}
.battery {
  color: $green;
  font-family: "Material Icons";
}
// Information
.updates {
  color: $white;
}

.time {
  font-family: "Sarasa Mono CL Nerd Font";
  color: $white;
}

// Labels
.volbar-label {
  font-family: "Material Icons";
  color: $teal;
}
